* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}

body {
    background-color: #222831
}

.container {
    background-color: #eee;
    width: 60%;
    margin: auto;
    margin-top: 110px;
    border: 0;
    border-radius: 10px;
    text-align: center
}

.conatainer-top {
    display: flex;
    justify-content: space-between
}

button {
    height: 40px;
    width: 100px;
    margin: 25px;
    border: 0;
    border-radius: 10px;
    color: #fff;
    background-color: #293462;
    cursor: pointer;
    transition: .3s
}

img {
    height: 170px;
    border-radius: 50%;
    margin: -80px;
    cursor: pointer;
    border: 4px #fdf9f7 solid
}

.followers {
    cursor: pointer;
    justify-content: center;
    display: flex
}

.followers div {
    padding: 4% 4% 0 4%
}

.name-location,
.footer {
    padding: 4%
}

p {
    padding: 5px
}

h2 {
    font-size: 20px
}

span {
    color: #474545
}

a {
    text-decoration: none
}

.footer p {
    padding-top: 25px
}

button:hover {
    background-color: #242F9B;
}

@media only screen and (max-width:750px) {
    body {
        background-color: #222831
    }

    img {
        height: 115px;
        border-radius: 50%;
        margin: -50px;
        cursor: pointer;
        transition: .3s;
        border: 4px #fdf9f7 solid
    }

    button {
        height: 30px;
        width: 80px;
        margin: 20px;
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
        transition: .3s
    }
}

@media only screen and (max-width:514px) {
    body {
        background-color: white
    }

    .container {
        background-color: white
    }

    button {
        margin-top: 37%;
        width: 100px;
        height: 40px
    }

    .followers {
        cursor: pointer;
        display: inline;
        font-size: 20px
    }

    img {
        
        border-color: gray;
        border-width: 5px;
        height: 130px;
        border-radius: 50%;
        margin: -70px;
        cursor: pointer;
        transition: .3s;
      
    }
}
















